<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="blackravenpost web mail">

<link rel="icon" type="image/png" sizes="32x32" href="/raven.jpg">
<link rel="icon" type="image/png" sizes="96x96" href="/raven.jpg">
<link rel="icon" type="image/png" sizes="16x16" href="/raven.jpg">

<title>
    blackravenpost.com
</title>

<!--<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">-->
<link rel="stylesheet" href="/bootstrap-3.3.7/css/lumen.css">
<link rel="stylesheet" href="/css/wildduck.css">
